.note__main-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.note__appbar {
    align-items: center;
    background-color: $color_primary;
    color: $color_light;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
}

.note__appbar button {
    color: $color_light;
    transition: color 0.3s ease;
    &:hover {
        color: $color_dark-grey;
    }
}

.note__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}


.note__title-input, .note__textarea {
    border: none;
    &:focus{
        outline: none;
    }
}

.note__title-input {
    color: $color_dark-grey;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.note__textarea {
    border: none;
    color: $color_dark-grey;
    font-size: 20px;
    flex: 1 1 auto;
    resize: none;
}

.note__image img {
    box-shadow: 5px 5px $color_dark-grey;
    height: 150px;
}